.container {
  margin-left: 50px;
  padding-bottom: 50px;
}

.config-view {
  border-collapse: collapse;
}

.config-view th.formation-node {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 3px;
  padding-right: 3px;
}

.config-view .formation-level-label {
  text-align: right;
  font-style: italic;
  font-weight: normal;
  padding-left: 5px;
}

.config-view .schema-level-label {
  padding-right: 5px;
  font-style: italic;
  text-align: center;
}

.config-view .cell.cell-data {
  background-color: lightgreen;
}

.config-view .schema-node {
  border-right: 1px solid black;
  padding-right: 5px;
}

.config-view .cell {
  border-left: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

/*.config-view tr {*/
/*  border-right: 1px solid black;*/
/*}*/
