.container {
  margin-left: 50px;
  padding-bottom: 50px;
}

.config-view {
  border-collapse: collapse;
}

.config-view th.formation-node {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 3px;
  padding-right: 3px;
}

.config-view .formation-level-label {
  text-align: right;
  font-style: italic;
  font-weight: normal;
  padding-left: 5px;
}

.config-view .schema-level-label {
  padding-right: 5px;
  font-style: italic;
  text-align: center;
}

.config-view .cell.cell-data {
  background-color: lightgreen;
}

.config-view .cell.cell-data-but-down {
  background-color: pink;
}

.config-view .schema-node {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid lightgrey;
  font-weight: bold;
}

.config-view .schema-node.schema-node-leaf {
  border-right: 1px solid black;
}

.config-view .schema-node.schema-node-underreplicated {
  background-color: lightyellow;
}

.config-view .schema-node.schema-node-unavailable {
  background-color: pink;
}

.config-view .formation-node.formation-node-leaf {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.config-view .formation-node.formation-node-down {
  background-color: pink;
}

.config-view .cell {
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

/* hop sequence */

.hop-seq .node-label {
  fill: black;
}

.hop-seq .node-line {
  stroke: black;
}

.hop-seq .hop-line {
  stroke: black;
}

.hop-seq .hop-line.hop-line-hovered {
  stroke: red;
}

.hop-seq .hop-desc {
  cursor: pointer;
}

.hop-seq .hop-desc.hop-desc-hovered {
  color: red;
}
