.config-view {
  border-collapse: collapse;
}

.config-view th.formation-node {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 3px;
  padding-right: 3px;
}

.config-view .formation-level-label {
  text-align: right;
  font-style: italic;
  font-weight: normal;
  padding-right: 5px;
}

.cell.cell-data {
  background-color: lightgreen;
}
